
body {
    /*font-family: 'Poppins', sans-serif;*/
  
   background-image:url('/imagenes/edificio.png.png');
    
}

/*header*/
header{
    position: relative;
    width: 90%;
 
}
 h1{
    font-family:'Franklin Gothic Medium';
    margin-left: 1%;
}

h2{
    font-family:Arial;  /* Tipo de letra*/
}
b{
    font-family:Arial; 
    
}
.mi-logo {
      /* width: 20%; /* Ajusta el ancho */
      /* height: 10%; /* Mantiene la proporción */
    border: 2px solid #000; /* Añade un borde */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra */
    display: flex;
    align-items: center;
    float: left;
    margin-left: 1px;
    margin-right: 20px;
    
}
.mi-proyecto {
    float: right;

}
.card {
    border-radius: 30px;
    padding: 25px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(2, 0, 0, 1);
    margin-left: 25px;
    margin-right: 25px;
}
.cardmb-3{
    position: relative;
    max-width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    border: 2px solid #000; /* Añade un borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px; /* Espacio interior */
}
.nav-link {
    color: #333;
    text-decoration: none;
    padding: 10px 5px;
  }
  
  /* Estilo para los enlaces al pasar el mouse */
  .nav-link:hover {
    background-color: #0ab507;
    color: #ffffff;
  }
  
  /* Estilo para el enlace activo */
  .nav-pills .nav-link.active { 
    color: #fff !important; /* Cambia a tu color preferido */ 
    background-color: #33eb05cc !important; /* Cambia a tu color preferido */ }
  

/*footer*/
footer{
    bottom: 0;
    position: relative;
    width: 100%;/* Ajusta el ancho */
    height: 16%;/* Ajusta el largo */
}
footer .footer-text{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background:rgba(51, 235, 5, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #fff;
}
footer .footer-text p{
    font-size: 20px;
    text-align: center;
    color: #fff;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-toggler {
    margin-left: auto;
  }
  .btn-bonito {
    background: #28a745;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .btn-bonito:hover {
    background: linear-gradient(90deg, #3cff00 0%, #00bc03 100%);
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }
  
  .btn-bonito:active {
    transform: scale(0.95);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  .dis{
    text-align: center;
    margin-left: 1%;
    margin-right: 20%;
     font-size: 36px;
      color: rgb(255, 0, 0);
      
  }
  .disculpenos{
    margin-right: 20%;
    text-align: center;
    font-size: 36px;
     color: rgb(255, 0, 0);

  }
  .perrito{
    margin-left: 31%;
    width: 600px;
    height:600px;
   
  }
.imagenessistemico {
    width: 200px;
    height: 150px;
  }
  .swal2-confirm {
    background-color: #28a745; /* Color de fondo (puedes cambiarlo a tu color preferido) */
    color: white; /* Color del texto en el botón */
    border: none; /* Elimina el borde */
  }
  
  /* Cambiar el color cuando el botón es hover */
  .swal2-confirm:hover {
    background-color: #218838; /* Color de fondo cuando el ratón pasa por encima */
  }


